<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Venta de carros</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/cotizacion'" href="#">Cotización</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/cotizaciones'" href="#">Cotizaciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/venta'" href="#">Venta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/ventas'" href="#">Ventas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/vendedores'" href="#">Vendedores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/clientes'" href="#">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/carros'" href="#">Carros</a>
      </li>
    </ul>
  </div>
</nav>
