*, *::before, *::after{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
  -moz--box-sizing: border-box;
  box-sizing: border-box;
}

.main {
  width: 80%;
  display: block;
  flex-direction: column;
  margin: 0 auto;
}
.title-section {
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

div{
  margin-bottom: 30px;
}

.title-section h2 {
  font-size: 20px;
}

.general_info{
  width: 50%;
  display: block;
  margin-right: 20px;
}

.general_info2{
  width: 50%;
  margin-right: 20px;
}

.div_fecha{
  display: flex;
  align-items: flex-end;
  width: 20%;
}

.div-info{
  display: flex;
}

input, select{
  margin-bottom: 10px;
  border: 1px solid #ccc;
  height: 30px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  box-shadow: 0px 0px 2px 0px rgba(33, 11, 101, .5);
}

label, input{
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

input:focus{
  border: 1px solid #86DBEC;
}

input[type="submit"]{
  color: #fff;
  width: 100%;
  padding: 5px 10px;
}

.agregar_venta {
  background: #567dec;
  margin-top: 40px;
}

.agregar_venta:hover{
  background: #A9BADE;
}

.btn{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


