
<section class="form" style="width: 90%; margin: 0 auto">

  <div class="main">
    <div class="title-section">
      <h2>Venta</h2>
    </div>
    <div class="div_fecha">
      <label for="fecha">Fecha:</label>
      <input type="date" id="fecha">
    </div>

    <div class="div-info">

      <div class="general_info">
          <label for="cliente">Cliente:</label>
          <select name="cliente" id="clientes" (change)="selectClient($event)">
              <option value="">...</option>
          </select>
          <label for="auto">Auto:</label>
          <select name="Autos" #autos id="autos" (change)="selectCarro($event)">
            <option value="">...</option>
          </select>
          <label for="cliente">Vendedores:</label>
          <select name="Vendedores" #autos id="vendedores" (change)="selectionVendedor($event)">
              <option value="">...</option>
          </select>
        <label for="importe">Precio:</label>
        <input type="text" placeholder="Importe" id="importe">
        <label for="descuento">Descuento:</label>
        <input type="text" placeholder="Descuento %" id="descuento">
      </div>
      <div class="general_info2">
        <label for="comision">Comisión:</label>
        <input type="text" placeholder="Comisión" id="comision">
        <label for="enganche">Enganche:</label>
        <input type="text" placeholder="Enganche" id="enganche" (keyup)="keyupDescuento($event)">
        <label for="plazo">Plazo:</label>
        <input type="text" placeholder="Plazo" id="plazo">
        <label for="precioNeto">Precio Neto:</label>
        <input type="text" placeholder="Precio neto" id="precioNeto">
        <input type="submit" value="Agregar" class="agregar_venta" (click)="guardarVenta()">
      </div>
  </div>

  <div class="cotizacion">

    </div>
  </div>

</section>
