
<section class="form" style="width: 90%; margin: 0 auto;">
  <h2 style="font-size: 20px;">Cotización</h2>
  <div class="contenedor-form">
      <div class="form-p1">
        <label for="cliente">Cliente:</label>
        <select name="cliente" id="clientes" (change)="selectClient($event)">
            <option value="">...</option>
        </select>
        <label for="auto">Auto:</label>
        <select name="Autos" #autos id="autos" (change)="changeAutos($event)">
          <option value="">...</option>
        </select>
        <label for="modelo">Modelo:</label>
        <select name="Modelo" #modelo id="modelo">
         <option value="">...</option>
        </select>
        <label for="importe">Importe:</label>
        <input type="number" name="importe" #importe id="importe" disabled placeholder="$000">
      </div>
      <div class="form-p2">
        <label for="enganche">Enganche:</label>
        <input type="text" name="enganche" #enganche id="enganche" placeholder="00%" (keyup)="keyupEnganche($event)">
        <label for="importe_enganche">Importe del enganche:</label>
        <input type="number" name="importe_enganche" #importeEnganche id="importe_enganche" disabled placeholder="$000">
        <label for="tasa">Tasa:</label>
        <input type="number" name="tasa" #tasa id="tasa" disabled value="12">
        <label for="plazo">Plazo:</label>
        <input type="number" name="plazo" #plazo id="plazo" placeholder="000" (keyup)="keyupPlazo($event)">
        <label for="saldo">Saldo:</label>
        <input type="number" name="saldo" #saldo id="saldo" disabled>
        <label for="mensualidad">Mensualidad:</label>
        <input type="number" name="mensualidad" #mensualidad id="mensualidad" disabled>
      </div>
      <div class="fecha">
        <label for="fecha" id="fechaL">Fecha:</label>
        <input type="date" name="fecha" id="fecha">
      </div>
      <div class="boton">
        <input type="submit" value="Calcular" #calcular id="calcular" (click)="calcular2()">
        <button id="guardar" (click)="saveCotization()">Guardar</button>
      </div>
  </div>
</section>

<div class="table-form">
<table  #tablap id="tabla"></table>
</div>
