.contenedor-form{
  width: 90%;
  border: 1px solid #ccc;
  margin: 30px 20px;
  padding: 20px;

  display: flex;
  flex-direction: column;
}

.form-p1{
  width: 50%;
  align-items: flex-start;
}

.form-p2{
  width: 50%;
  align-items: flex-end;
}

.fecha{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 25%;
}

#fechaL{
  margin-right: 170px;
}

label, input{
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

input, select{
  margin-bottom: 10px;
  border: 1px solid #ccc;
  height: 30px;
  border-radius: 5px;
  width: 80%;
  text-align: center;
  box-shadow: 0px 0px 2px 0px rgba(241, 129, 16, .5);
}

input:focus{
  border: 1px solid #86DBEC;
}

input[type="submit"]{
  width: 100px;
  height: 40px;
  padding: 10px;
  background: #0D4C37;
  color: #fff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input[type="submit"]:active{
  box-shadow: none;
}

input[type="submit"]:hover{
  background: #22BC89;
}

.boton{
  display: flex;
  flex-direction: column-reverse;
}

#tabla{
  width: 80%;
  margin-left: 20px;
  border-collapse: collapse;
}

#tabla th{
  height: 30px;
  background: #9E9BA9;
}

#tabla td{
  text-align: center;
  padding: 15px 10px;
  border: 1px solid #ccc;
}

#guardar{
  cursor: pointer;
}

#guardar:hover{
  background: #22BC89;
  color: #fff
}
#guardar {
  width: 100px;
  border: none;
  border-radius: 3px;
  padding: 5px 7px;
  background: #007bff;
  color: white;
  margin-bottom: 10px;
}
