*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}
.main {
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
}
.title-section {
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.title-section h2 {
    font-size: 20px;
}

.buttons-section {
    margin-top: 20px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.buttons-section button {
    padding: 7px 20px;
    font-size: 15px;
    border: none;
    background: #4CAF50;
    color: white;
    border-radius: 3px;
}

.cars {
    width: 100%;
    height: 100vh;
    overflow: auto;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid silver;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.car {
    width: 250px;
    border: 1px solid silver;
    border-radius: 3px;
    padding: 10px;
    height: 270px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    margin: 20px;
}

.car img {
    min-height: 100%;
    width: 100%;
}

.car:hover .info-car {
    transition: all 0.3s;
    left: 0;
    cursor: pointer;
}

.car-name {
    position: absolute;
    color: white;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    background: black;
    width: 100%;
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.info-car {
    position: absolute;
    top: 0;
    background: black;
    width: 100%;
    height: 100%;
    left: -100%;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    color: white;
}

.options-car {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
}

.delete-car {
    padding: 7px 20px;
    font-size: 15px;
    border: none;
    background: #FF5722;
    color: white;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
}

.edit-car {
    padding: 7px 20px;
    font-size: 15px;
    border: none;
    background: #FF9800;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.modal {
    width: 100%;
    height: 100vh;
    background: black;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 30%;
    height: 90%;
    padding: 50px 10px 10px 10px;
}

.modal-content input {
    height: 35px;
    padding: 2px 7px;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    border: 1px solid silver;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.modal-content button {
    padding: 7px 20px;
    font-size: 15px;
    border: none;
    background: #4CAF50;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    width: 97%;
    bottom: 10px;
}

.modal-content h2 {
    margin-bottom: 20px;
}

.close-modal {
    position: absolute;
    background: #FF5722;
    top: 10px;
    right: 25px;
    padding: 7px 14px;
    border-radius: 3px;
    color: white;
    font-size: 14px;
}