

<div class="main">
  <div class="title-section">
    <h2>Carros</h2>
  </div>
  <div class="buttons-section">
    <button (click)="openModalNewCar()">Nuevo</button>
  </div>
  <div class="cars">
    <div class="car" *ngFor="let carro of carros; let i = index">
      <img src="{{ carro.imagen }}" alt="">
      <p class="car-name">{{ carro.nombre }}</p>
      <div class="info-car">
        <p class="car-name">{{ carro.nombre }}</p>
        <p class="model-car">{{ carro.modelo }}</p>
        <p class="model-car">{{ carro.precio | currency }}</p>
        <p class="marca-car">{{ carro.marca }}</p>
        <p class="color-car">{{ carro.color }}</p>
        <div class="options-car">
          <button class="delete-car" (click)="deleteCar(i)">Borrar</button>
          <button class="edit-car" (click)="openModalEditCar(i)">Editar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-new-car" *ngIf="modal.new.visible">
    <div class="close-modal" (click)="closeModalNewCar()">
      <p>Cerrar</p>
    </div>
    <div class="modal-content">
        <h2>Registrar nuevo carro</h2>
        <input type="text" placeholder="Nombre" [(ngModel)]="newCar.nombre">
        <input type="text" placeholder="Modelo" [(ngModel)]="newCar.modelo">
        <input type="text" placeholder="Marca" [(ngModel)]="newCar.marca">
        <div class="colors-car">
          <div class="color-1"></div>
          <div class="color-2"></div>
          <div class="color-3"></div>
        </div>
        <input type="number" placeholder="Precio" [(ngModel)]="newCar.precio">
        <img src="{{ newCar.imagen }}" alt="">
        <form action="/upload-img-product" method="POST" enctype="multipart/form-data">
          <input type="file" name="img-product" id="img-product" accept="image/png, image/jpeg, image/jpg" (change)="uploadImage($event, 'newProduct')">
          <button type="submit" class="btn-change btn-upload-product" (click)="createCar()">Agregar</button>
        </form>
    </div>
  </div>

  <div class="modal modal-edit-car" *ngIf="modal.edit.visible">
      <div class="close-modal" (click)="closeModalEditCar()">
        <p>Cerrar</p>
      </div>
      <div class="modal-content">
        <h2>Editar carro</h2>
        <input type="text" placeholder="Nombre" [(ngModel)]="editCar.nombre">
        <input type="text" placeholder="Modelo" [(ngModel)]="editCar.modelo">
        <input type="text" placeholder="Marca" [(ngModel)]="editCar.marca">
        <div class="colors-car">
          <div class="color-1"></div>
          <div class="color-2"></div>
          <div class="color-3"></div>
        </div>
        <input type="number" placeholder="Precio" [(ngModel)]="editCar.precio">
        <img style="max-height: 200px;" src="{{ editCar.imagen }}" alt="">
        <form action="/upload-img-product" method="POST" enctype="multipart/form-data">
          <input type="file" name="img-product" id="img-product" accept="image/png, image/jpeg, image/jpg" (change)="uploadImage($event, 'editProduct')">
          <button type="submit" class="btn-change btn-upload-product" (click)="updateCar()">Aceptar</button>
        </form>
      </div>
    </div>

