
<div class="main">
    <div class="title-section">
        <h2>Ventas</h2>
    </div>
      <div class="limiter">
          <div class="container-table100">
            <div class="wrap-table100">
              <div class="table100">
                <table>
                  <thead>
                    <tr class="table100-head">
                      <th class="column1">Cliente</th>
                      <th class="column2">Vendedor</th>
                      <th class="column3">Auto</th>
                      <th class="column4">Precio Total</th>
                      <th class="column5"></th>
                      <th class="column6"></th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let venta of ventas; let i = index">
                        <td class="column1">{{ venta.cliente.nombre }}</td>
                        <td class="column2">{{ venta.empleado.nombre }}</td>
                        <td class="column3">{{ venta.carro.nombre }}</td>
                        <td class="column3">{{ venta.costo_total | currency:'MXN':'symbol':'.0-0'}}</td>
                        <td>
                          <button class="btn btn-eliminar" (click)="deleteVenta(i)">Eliminar</button>
                        </td>
                        <td>
                          <button class="btn btn-ver" #ver (click)="mostrarVenta(i)">Ver detalle</button>
                        </td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
</div>

<section class="form" style="width: 90%" *ngIf="clic==true">
  <div class="main2">
    <div class="close-info">
      <button class="btn btn-close-info" (click)="changeClic()">Cerrar</button>
    </div>
    <div class="div-info">
      <div class="general_info">
          <label for="cliente">Cliente:</label>
          <select name="cliente" id="clientes">
              <option value="">{{ editVentaA.cliente.nombre }}</option>
          </select>
          <label for="auto">Auto:</label>
          <select name="Autos" #autos id="autos">
            <option value="">{{ editVentaA.carro.nombre }}</option>
          </select>
          <label for="cliente">Vendedores:</label>
          <select name="Vendedores" #autos id="vendedores">
              <option value="">{{ editVentaA.empleado.nombre }}</option>
          </select>
            <label for="importe">Precio:</label>
            <input type="text" placeholder="Importe" id="importe" [(ngModel)]="editVentaA.carro.precio">
        </div>
      <div class="general_info2">
        <label for="comision">Comisión:</label>
        <input type="text" placeholder="Comisión" id="comision" [(ngModel)]="editVentaA.comision_cliente">
        <label for="enganche">Enganche:</label>
        <input type="text" placeholder="Enganche" id="enganche" [(ngModel)]="editVentaA.enganche">
        <label for="plazo">Plazo:</label>
        <input type="text" placeholder="Plazo" id="plazo" [(ngModel)]="editVentaA.plazo">
        <label for="precioNeto">Precio Neto:</label>
        <input type="text" placeholder="Precio neto" id="precioNeto" [(ngModel)]="editVentaA.costo_total">
        <input type="submit" value="Guardar cambios" class="guardar_cambios" (click)="editVenta()">
      </div>
    </div>
  </div>

</section>

