*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.main {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  height: 300px;
}
.title-section {
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.title-section h2 {
  font-size: 20px;
}

.limiter {
  margin-top: 50px;
}

th, td {
  padding: 10px;
}

.container-table100 {
  align-items: flex-start;
}

table{
  width: 60%;
}

.btn{
  color: #fff;
}

.btn-eliminar{
  background: #E92F26;
  padding: 5px 10px;
}

.btn-eliminar:hover{
  background: #CD615C;
}

.btn-ver{
  background: #567dec;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  width: 120px;
  text-align: center;
}

.btn-ver:hover{
  background: #ccc;
}

section{
  margin-top: 70px;
  margin-left: 70px;
}

.main2 {
  width: 80%;
  display: block;
  flex-direction: column;
  margin: 0px -20px;
}

div{
  margin-bottom: 30px;
}

.general_info{
  width: 50%;
  display: block;
  margin-right: 20px;
}

.general_info2{
  width: 50%;
  display: block;
  margin-right: 20px;
}

.div_fecha{
  display: flex;
  align-items: flex-end;
  width: 20%;
}

.div-info{
  display: flex;
}

input, select{
  margin-bottom: 10px;
  border: 1px solid #ccc;
  height: 30px;
  color: #000;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  box-shadow: 0px 0px 2px 0px rgba(33, 11, 101, .5);
}

label, input{
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

input:focus{
  border: 1px solid #86DBEC;
}

input[type="submit"]{
  color: #fff;
  width: 100%;
  padding: 5px 10px;
  margin-top: 50px;
  background: #567dec;
}

.btn-close-info{
  background: #E92F26;
  padding: 5px 10px;
}

.btn-close-info:hover{
  background: #CD615C;
}

