/* You can add global styles to this file, and also import other style files */
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
p {
  margin:0;
  padding: 0;
}
table {
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
  position: relative;
  border: 1px solid #ddd;
}

td,
th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  height: 45px;
  padding: 5px;
  margin-right: 10px;
}

tr:nth-child(even) {
  background-color: rgb(251, 251, 251);
}

.container-table {
  margin-top: 50px;
}

.container-table,
.table-body {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: auto;
  background: white;
  border-radius: 3px;
}

.table-body {
  padding: 0;
  margin-top: 0;
}

.icon-edit,
.icon-delete,
.icon-add {
  font-size: 15px;
  border-radius: 3px;
  padding: 5px;
  color: white;
  cursor: pointer;
}

.icon-edit {
  margin-right: 5px;
  background: orange;
}

.icon-delete {
  background-color: #EA2027;
}

.icon-add {
  background-color: var(--first-color-alt);
}

.cell-center {
  text-align: center;
}