
<div class="main">
    <div class="title-section">
        <h2>Clientes</h2>
      </div>
      <div class="buttons-section">
        <button (click)="openModalNewClient()">Nuevo</button>
      </div>
      <div class="container-table">
        <div class="table-body">
          <table id="tableCategories">
            <thead>
              <tr>
                <th class="column1">Nombre</th>
                <th class="column2">Correo</th>
                <th class="column3">Telefono</th>
                <th class="column4">Dirección</th>
                <th class="column5">Saldo</th>
                <th class="column7">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let client of clients; let i = index">
                <td class="column1">{{ client.nombre }}</td>
                <td class="column2">{{ client.correo }}</td>
                <td class="column3">{{ client.telefono }}</td>
                <td class="column4">{{ client.direccion }}</td>
                <td class="column5">{{ client.saldo }}</td>
                <td class="column7">
                  <button class="user-edit" (click)="openModalEditClient(i)">Editar</button>
                  <button class="user-delete" (click)="deleteClient(i)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>

<div class="modal modal-edit-client" *ngIf="modal.new.visible">
    <div class="close-modal" (click)="closeModalNewClient()">
      <p>Cerrar</p>
    </div>
    <div class="modal-content">
        <h2>Registrar nuevo cliente</h2>
        <form (submit)="createClient()">
          <input type="text" placeholder="Nombre" name="nombre" [(ngModel)]="newClient.nombre">
          <input type="text" placeholder="Dirección" name="direccion"  [(ngModel)]="newClient.direccion">
          <input type="text" placeholder="Correo" name="correo"  [(ngModel)]="newClient.correo">
          <input type="text" placeholder="Telefono" name="telefono"  [(ngModel)]="newClient.telefono">
          <input type="number" placeholder="Saldo" name="saldo"  [(ngModel)]="newClient.saldo">
          <button type="submit">Aceptar</button>
        </form>
    </div>
  </div>

<div class="modal modal-edit-client" *ngIf="modal.edit.visible">
    <div class="close-modal" (click)="closeModalEditClient()">
      <p>Cerrar</p>
    </div>
    <div class="modal-content">
        <h2>Editar cliente</h2>
        <form (submit)="updateClient()">
          <input type="text" placeholder="Nombre" name="nombre" [(ngModel)]="editClient.nombre">
          <input type="text" placeholder="Dirección" name="direccion"  [(ngModel)]="editClient.direccion">
          <input type="text" placeholder="Correo" name="correo"  [(ngModel)]="editClient.correo">
          <input type="text" placeholder="Telefono" name="telefono"  [(ngModel)]="editClient.telefono">
          <input type="number" placeholder="Saldo" name="saldo"  [(ngModel)]="editClient.saldo">
          <button type="submit">Aceptar</button>
        </form>
    </div>
  </div>
