*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.main {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
}
.title-section {
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.title-section h2 {
  font-size: 20px;
}

.limiter {
  margin-top: 50px;
}

form {
  width: 90%;
  margin: 0 auto;
}

th, td {
  padding: 10px;
}

.container-table100 {
  align-items: flex-start;
}

table{
  width: 70%;
}

.column7 {
  margin-top: 20px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.user-edit{
  background: #FF9800;
  margin-right: 10px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.user-delete{
  background: #f44336;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.modal {
  width: 100%;
  height: 100vh;
  background: black;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 40%;
  height: 90%;
  padding: 50px 10px 10px 10px;
}

.modal-content input {
  height: 35px;
  padding: 5px 30px;
  text-align: center;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  border: 1px solid silver;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.modal-content button {
  padding: 7px 20px;
  font-size: 15px;
  border: none;
  background: #4CAF50;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  width: 97%;
  bottom: 10px;
}

.modal-content h2 {
  margin-bottom: 20px;
}

.close-modal {
  position: absolute;
  background: #FF5722;
  top: 10px;
  right: 25px;
  padding: 7px 14px;
  border-radius: 3px;
  color: white;
  font-size: 14px;
}

p:hover{
  cursor: pointer;
}
.btn-view {
  background: #567dec;
  margin-right: 10px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}
.table-form {
  margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: center;
}