
<div class="main">
    <div class="title-section">
        <h2>Cotizaciones</h2>
    </div>

    <div class="container-table">
      <div class="table-body">
        <table>
          <thead>
            <tr>
              <th>Cliente</th>
              <th>Auto</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cotiza of cotizaciones; let i = index">
              <td>{{ cotiza.cliente.nombre }}</td>
              <td>{{ cotiza.carro.nombre }}</td>
              <td>
                <button class="user-edit" (click)="openModalEditCotizacion(i)">Editar</button>
                <button class="user-delete" style="margin-right: 10px;" (click)="deleteCotizacion(i)">Eliminar</button>
                <button class="btn-view" (click)="crearTabla(cotiza.plazo, cotiza.fecha_cotizacion, cotiza.mensualidad, cotiza.saldo)">Ver tabla de pagos</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
<div class="table-form" style="margin-left: 50px;">
  <button style="width: 100px; margin-bottom: 10px;" *ngIf="tabla.innerHTML !== ''" (click)="cerrarTabla()">Cerrar</button>
  <table id="tabla"></table>
</div>
<div class="modal modal-edit-cotizacion" *ngIf="modal.edit.visible">
  <div class="close-modal" (click)="closeModalEditCot()">
    <p>Cerrar</p>
  </div>
  <div class="modal-content">
    <h2>Editar Cotizacion</h2>
    <input type="text" placeholder="Cliente" name="nombre" [(ngModel)]="editCotizacion.cliente.nombre">
    <input type="text" placeholder="Auto" name="carro" [(ngModel)]="editCotizacion.carro.nombre">
    <input type="text" placeholder="Modelo" name="modelo" [(ngModel)]="editCotizacion.carro.modelo">
    <input type="text" placeholder="Importe" name="importe" [(ngModel)]="editCotizacion.importe">
    <input type="text" placeholder="Enganche" [(ngModel)]="editCotizacion.enganche">
    <input type="text" placeholder="Importe Enganche" name="importe_enganche" [(ngModel)]="editCotizacion.importe_enganche">
    <input type="text" placeholder="Tasa" name="tasa" [(ngModel)]="editCotizacion.tasa">
    <input type="text" placeholder="Plazo" name="plazo" [(ngModel)]="editCotizacion.plazo">
    <input type="text" placeholder="Saldo" name="saldo" [(ngModel)]="editCotizacion.saldo">
      <button type="submit" class="btn-change btn-upload-product" (click)="updateCotizacion()">Aceptar</button>
  </div>
</div>

